# Binary star evolution and binary black holes

All the relevant information for the project are to be found in the pdf document present in the repo.
Note that you are assigned to project 1 (as the title said).

## Datasets 

Datasets are stored on Google Drive (link and description in the pdf document)

### Contacts

* Michela Mapelli <michela.mapelli@unipd.it>

In [1]:
import pandas as pd
import numpy as np
import string
import glob
import os
import seaborn as sns

In [2]:
alpha_values = [0.5, 1, 3, 5]
met_values = [0.02, 0.002, 0.0002, 0.004, 0.0004, 0.006, 0.008, 0.012, 0.0012, 0.016, 0.0016]

# path = '/data/TheFormationOfBinaryBlackHoles_data/stable_MT_vs_CE' 

li = []
for alpha in alpha_values:
    for met in met_values:
        for name in glob.glob(f'/Users/tommaso/Desktop/MagistraleI/TheFormationOfBinaryBlackHoles_data/lab_data/stable_MT_vs_CE/A{alpha}/MTCE_BBHs_{met}*'):    
        #for name in glob.glob(f'/data/TheFormationOfBinaryBlackHoles_data/stable_MT_vs_CE/A{alpha}/MTCE_BBHs_{met}*'):
            df = pd.read_csv(name, skiprows=2, header=0, sep=' ')
            df = df.loc[:,['col.0:ID','col.1:m1ZAMS/Msun','col.3:m1rem/Msun','col.4:m2rem/Msun',  'col.6:delay_time/Myr', 'col.7:sma/Rsun', 'col.8:ecc', 'col.21:CE']]
            met_array = np.ones((df.shape[0], 1))*met
            alpha_array = np.ones((df.shape[0],1))*alpha
            df['metallicity'] = met_array
            df['alpha'] = alpha_array
            
        li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
frame.head()

,col.0:ID,col.1:m1ZAMS/Msun,col.3:m1rem/Msun,col.4:m2rem/Msun,col.6:delay_time/Myr,col.7:sma/Rsun,col.8:ecc,col.21:CE,metallicity,alpha
0,0_6942,50.9151,4.8001,4.7478,2233.6292,7.9524,0.273150,True,0.02,0.5
1,0_80347,57.0253,5.5849,5.5325,1076.5703,9.0222,0.508320,True,0.02,0.5
2,0_158611,91.0594,8.3787,8.2624,6810.4365,14.9810,0.072798,True,0.02,0.5
3,0_211410,117.9396,19.3984,11.2422,7905.6343,11229.0000,0.999640,False,0.02,0.5
4,0_213101,40.2965,3.1045,3.0769,8703.5479,13.7630,0.705290,True,0.02,0.5

In [4]:
#Creating the a dataframe with common envelopes and one with mass transfer
frame_true = frame[(frame['col.21:CE'] == True)] 
frame_true = frame_true.reset_index(drop=True)
frame_false = frame[(frame['col.21:CE'] == False)] 
frame_false = frame_false.reset_index(drop=False)

In [5]:
frame_true.head()

,col.0:ID,col.1:m1ZAMS/Msun,col.3:m1rem/Msun,col.4:m2rem/Msun,col.6:delay_time/Myr,col.7:sma/Rsun,col.8:ecc,col.21:CE,metallicity,alpha
0,0_6942,50.9151,4.8001,4.7478,2233.6292,7.9524,0.273150,True,0.02,0.5
1,0_80347,57.0253,5.5849,5.5325,1076.5703,9.0222,0.508320,True,0.02,0.5
2,0_158611,91.0594,8.3787,8.2624,6810.4365,14.9810,0.072798,True,0.02,0.5
3,0_213101,40.2965,3.1045,3.0769,8703.5479,13.7630,0.705290,True,0.02,0.5
4,0_261642,62.6781,7.5024,5.9658,2895.4182,10.4610,0.163210,True,0.02,0.5

In [6]:
frame_false.head()

,index,col.0:ID,col.1:m1ZAMS/Msun,col.3:m1rem/Msun,col.4:m2rem/Msun,col.6:delay_time/Myr,col.7:sma/Rsun,col.8:ecc,col.21:CE,metallicity,alpha
0,3,0_211410,117.9396,19.3984,11.2422,7905.6343,11229.000,0.999640,False,0.020,0.5
1,109,1_3370919,76.2366,10.0905,8.1532,5914.8696,5378.200,0.999510,False,0.020,0.5
2,113,1_3601930,123.0264,18.0234,7.6028,9398.3252,3408.700,0.998740,False,0.020,0.5
3,198,3_2982857,132.6673,20.7397,5.6742,3331.2690,3755.500,0.999260,False,0.020,0.5
4,276,0_526,75.1587,26.1035,25.6875,12982.4980,41.214,0.009654,False,0.002,0.5

In [7]:
#frame_graph = frame.drop(columns=['col.0:ID'], axis=1)
#sns.pairplot(frame, hue = 'col.21:CE', palette='Set2')

In [9]:
#frame_graph.head()

In [10]:
#frame_graph_false = frame_false.drop(columns=['col.0:ID'], axis=1)
#sns.pairplot(frame_false.loc[:,['col.1:m1ZAMS/Msun','col.3:m1rem/Msun','col.4:m2rem/Msun', 'col.6:delay_time/Myr', 'col.7:sma/Rsun', 'col.8:ecc', 'col.21:CE']]
#            , palette='Set2')